# 1. pymysql 모듈 이해 및 실습

## 1.1 pymysql 라이브러리 소개 및 설치

* mysql을 python에서 사용할 수 있는 라이브러리
* 일반적인 mysql 핸들링 코드 작성 순서 
  1. pymysql 모듈 import
  2. pymysql.connect()메소드를 사용하여 MySql에 연결
  3. MySql 접속이 성공하면, connection 객체로부터 cursor() 메소드를 호출
  4. cursor 객체의 execute() 메소드를 사용하여 sql 문장을 db서버에 전송
  6. 삽입, 갱신, 삭제 등의 dml 문장을 실행 commit()사용
  7. close() 메서드를 사용하여 db 연결 닫음

In [1]:
import pymysql

* pymysql.connect() 메소드를 사용하여 MySql에 연결
* 호스트명, 포트, 로그인, 암호 접속할 DB 등을 파라미터로 지정

In [2]:
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           charset='utf8')

In [3]:
db

* mysql 접속이 성공하면, connection 객체로부터 cursor() 메소드를 호출하여 cursor 객체를 가져옴
* cursor 객체의 execute()메소드를 사용하여 sql 문장을 db 서버에 전송

In [4]:
cursor = db.cursor()

In [5]:
sql = "create database IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [8]:
sql = 'show databases'
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),
 ('employees',),
 ('information_schema',),
 ('my_emp',),
 ('mysql',),
 ('performance_schema',),
 ('shopdb',),
 ('STUDENTS',),
 ('sys',))

In [9]:
# db 변경 
sql = 'use ecommerce'
cursor.execute(sql)

0

In [10]:
#현재 db 확인
sql = 'select database()'
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

* cursor 는 control structure database 임

In [12]:
sql = """
    CREATE TABLE product(
    PRODUCT_CODE VARCHAR(20) NOT NULL,
    TITLE VARCHAR(200) NOT NULL,
    ORI_PRICE INT,
    DISCOUNT_PRICE INT,
    DISCOUNT_PERCENT INT,
    DELIVERY VARCHAR(2),
    PRIMARY KEY(PRODUCT_CODE)
    );
"""

SQL 실행 (Cursor 객체의 execute() 메소드를 사용하여 INSERT, UPDATE 혹은 DELETE 문장을 DB서버에 보냄)

In [13]:
cursor.execute(sql)

0

In [14]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

* 삽입, 갱신, 삭제 등이 모두 끝났으면 Connection 객체의 commit()메서드를 사용하여 commit

In [15]:
db.close() # 연결 종료

## 1.2 패턴으로 익히는 pymysql

In [17]:
#1 라이브러리 가져오기
import pymysql

#2 접속하기
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')

In [18]:
# 3 커서 가져오기
cursor = db.cursor()

In [22]:
# 4 sql 구문 만들기 (CRUD SQL 구문 등)
sql = '''
    CREATE TABLE product2(
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

In [23]:
#5 sql 구문 실행하기
cursor.execute(sql)

0

In [24]:
#6 db에 commit 하기
db.commit()

In [25]:
#7 db 연결 닫기
db.close()

* 데이터 삽입(INSERT)
  - cursor object 가져오기 : db.cursor()
  - sql 실행하기 : cursor.execute(sql)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [26]:
#1 라이브러리 가져오기
import pymysql

#2 접속하기
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')

In [27]:
#3 커서 가져오기
cursor = db.cursor()

In [28]:
for index in range(10):
    product_code = 216573140 + index + 1
    # print(procudt_code)
    sql = """INSERT INTO product2 VALUES(
    '"""+str(product_code)+"""','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');"""
    print(sql)
    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573141','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573142','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573143','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573144','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573145','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573146','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573147','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573148','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573149','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573150','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F');

In [29]:
db.commit() # 입력된 데이터를 db 서버에 확정 시키기

In [30]:
db.close

* 데이터 조회(SELECT)
  - cursor object 가져오기 cursor = db.cursor()
  - sql 실행하기 : cursor.execute(sql)
  - mysql 서버로부터 데이터 가져오기 : fetch 메서드 사용
    - fetchall(): fetch all the rows
    - fetchmany(size=None): Fetch several rows
    - fetchone(): Fetch the next row

In [31]:
import pymysql
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')
cursor = db.cursor()

In [32]:
sql = 'select * from product2'
cursor.execute(sql)

10

In [33]:
result = cursor.fetchone() # 현재 커서를 다음 레코드로 이동시키고 해당 레코드를 반환
result

('216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F')

In [34]:
result = cursor.fetchall()
result

(('216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'),
 ('216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 2300, 6900, 70, 'F'))

In [35]:
db.close()

* 데이터 수정(UPDATE)
  - cursor object 가져오기 cursor = db.cursor()
  - sql 실행하기 : cursor.execute(sql)
  - 실행 mysql 서버에 확정 반영하기 : db.commit()

In [36]:
import pymysql
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')
cursor = db.cursor()

In [38]:
sql = """
UPDATE product2 SET
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건',
    ORI_PRICE = 33000,
    DISCOUNT_PRICE = 9900,
    DISCOUNT_PERCENT =70
    WHERE PRODUCT_CODE='216573141'
"""
cursor.execute(sql)

db.commit()

In [40]:
# update 확인
sql = "select * from product2 where product_code='216573141'"
cursor.execute(sql)
result = cursor.fetchone()
result

('216573141', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F')

In [41]:
db.close()

* 데이터 삭제(DELETE)
  - cursor object 가져오기 cursor = db.cursor()
  - sql 실행하기 : cursor.execute(sql)
  - 실행 mysql 서버에 확정 반영하기 : db.commit()

In [42]:
import pymysql
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')
cursor = db.cursor()

In [44]:
sql = "DELETE FROM product WHERE product_code='216573141'"
cursor.execute(sql)
db.commit()
db.close()

In [45]:
db = pymysql.connect(host='localhost',
                           user='root',
                           password='0729tlsehd',
                           db='ecommerce',
                           charset='utf8')
cursor = db.cursor()

sql ="""select *FROM product WHERE PRODUCT_CODE='216573141'"""

cursor.execute(sql)
result = cursor.fetchone()
print(result)
db.commit()
db.close()

None